<template>
    <section class="card">
        <div class="card-header">
            <h4>{{title}}</h4>
        </div>
        <div class="card-information">
            <div class="row">
                <span>Radio:</span>
                <span>{{radio}}</span>
            </div>
            <div class="row">
                <span>Kanał:</span>
                <span>{{channel}}</span>
            </div>
        </div>
        <div class="card-details">
            <div class="row">
                <span>Rx Frex:</span>
                <span>{{rxFrex}}</span>
            </div>
            <div class="row">
                <span>Tx Frex:</span>
                <span>{{txFrex}}</span>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <span>Modulacja:</span>
                <span>{{modulation}}</span>
            </div>
            <div class="row">
                <span>Moc:</span>
                <span>{{power}}</span>
            </div>
            <div class="row">
                <span>Szumy:</span>
                <span>
                    <select>
                        <option value="0">0%</option>
                        <option value="5">5%</option>
                    </select>
                </span>
            </div>
            <div class="card-actions">
                <button class="btn">Aktywuj błąd</button>
            </div>
        </div>
        
    </section>
</template>

<script>
export default {
  name: 'Card',
  props: {
    title: String,
    radio: String,
    channel: String,
    rxFrex: String,
    txFrex: String,
    modulation: String,
    power: String,
  }
}
</script>

<style lang="scss">
    .card{
        background-color: #2b2b2b;
        border-bottom: 15px solid #2b2b2b;
        color: #fff;
        position: relative;
        &:before{
            content: '';
            display: block;
            width: 0;
            height: 0;
            position: absolute;
            top: 0;
            right: 0;
            border-top: 38px solid #1b6272;
            border-left: 38px solid transparent;
        }
        > div{
            padding: 20px 20px 10px 20px;
            &:nth-child(even){
                background-color: #303030;
            }
        }
        .row{
            display: flex;
            span{
                margin-bottom: 5px;
                &:first-child{
                    flex: 0 0  40%;
                    max-width: 40%;
                    text-align: left;
                    color: #7a7a7a;
                }
                &:last-child{
                    font-weight: 700;
                }
            }
        }
        .card-header{
            h4{
                margin: 0;
                text-align: left;
                font-size: 2rem;
                font-weight: 300;
            }
        }
        .card-footer{
            .card-actions{
                display: flex;
                justify-content: flex-end;
                margin-top: 15px;
            }
        }
        .btn{
            border: 0;
            border-radius: 25px;
            background-color: #1b6272;
            padding: 10px 25px;
            min-width: 150px;
            color: #fff;
            cursor: pointer;
            transition: background-color 0.5s;
            &:hover{
                background-color: rgba(#1b6272, 0.8);

            }
        }
    }
</style>