<template>
  <div id="app">
    <div class="row">
      <div class="col">
        <Card 
          title="Stanowisko 1"
          radio="R&S M2SR 4100 HF"
          channel="-"
          rxFrex="25 250 000 Hz"
          txFrex="25 250 000 Hz"
          modulation="+J3E"
          power="P20W" />
      </div>
      <div class="col">
        <Card 
          title="Stanowisko 2"
          radio="R&S M2SR 4100 HF"
          channel="-"
          rxFrex="25 250 000 Hz"
          txFrex="25 250 000 Hz" 
          modulation="+J3E"
          power="P20W"/>
      </div>
    </div>
  </div>
</template>

<script>
import Card from './components/Card.vue'
export default {
  name: 'App',
  components: {
    Card
  }
}
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-size: 1.6rem;
  color: #2c3e50;
  margin-top: 60px;
  .row{
    display: flex;
    flex-wrap: wrap;
    .col{
      flex: 0 0 20%;
      max-width: 20%;
      padding: 0 10px;
      margin-bottom: 15px;
      box-sizing: border-box;
    }
  }
}
@media (max-width: 1600px) {
  #app {
    .row{
      .col{
        flex: 0 0 25%;
        max-width: 25%;
      }
    }
  }
}
</style>
